@model SyntheseOpdracht2.MVC.Models.BoekLijstVM



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mijn boeken</h2>

<table class="table table-striped table-hover">
<thead>
    <tr>
        <th>Code</th>
        <th>Titel</th>
        <th>Auteur</th>
        <th>Aantal pagina's</th>
        <th>Genres</th>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var boek in Model.Boeken)
    {
        <tr>
            <td>@boek.Id</td>
            <td>@boek.Titel</td>
            <td>@boek.Auteur</td>
            <td>@boek.AantalPaginas</td>
            <td>@String.Join(", ",boek.Genres.Select(g=> g.Omschrijving))</td>

            <td>
                @Html.ActionLink("Verwijderen", "Verwijderen", "Boek", new { code = boek.Id }, new { @class = "btn btn-danger" })
                &nbsp;
                @Html.ActionLink("Bewerken", "Bewerken", "Boek", new { code = boek.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</tbody>
</table>

@Html.ActionLink("Toevoegen", "Toevoegen", "Boek", null, new { @class = "btn btn-primary" })